# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Credenciales
.env

# JSON de expedientes
expedientes_vistos.json

# JSON temporales
datos/licitaciones_hoy.json
datos/licitaciones_nuevas.json

# LOGs locales
logs/licitaciones.log