# LIBRERIAS NECESARIAS - INSTALAR AQUI TODAS LAS DEL PROYECTO
# una lista de todas las librerías necesarias para el proyecto. 
# Sirve para que cualquiera pueda instalarlas todas de golpe con un solo comando
selenium
beautifulsoup4
requests
webdriver-manager
schedule

# selenium - webscrapping
# beautifulsoup4 - webscrapping
# requests - opcional ?
# webdriver-manager -ayudante de Selenium
# schedule - Permite programar tareas automáticas en Python
# Smtplib (ya viene con Python) - permite enviar emails desde Python
# Json (ya viene con Python)